.stories.carousel .story {
	width: 80px;
	margin: unset;
	padding: 0 4px;
}

.stories.snapgram .story>a {
	width: 62px;
	margin: 0 auto;
	text-decoration: none;
	color: #333
}

.stories.snapgram .story>a>.img {
	height: unset;
	border-radius: 50%;
	padding: 2px;
	background: linear-gradient(220deg, #ca2c8d 0%,#ff9b55 100%);
}

.stories.snapgram .story>a>.img>* {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.stories.snapgram .story.seen {
	opacity: .75
}

.stories.snapgram .story.seen>a>.img {
	background: #999
}

.stories.snapgram .story.seen>a {
	color: #999!important
}

.stories.carousel .story > a > .info {
	margin-top: 6px;
	overflow: unset;
	text-overflow: unset;
}

.stories.carousel .story > a > .info strong {
	color: #262626;
	display: block;
	font-size: 12px;
	line-height: 14px;
	max-width: 64px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.stories.snapgram .story.seen>a>.img {
	padding: 1px;
	background: #DADADA;
}

.stories.snapgram .story.seen>a>.img>* {
	width: 60px;
    height: 60px;
}

.stories.carousel .story.seen > a > .info strong {
	color: #999;
}

#zuck-modal-content .story-viewer .head {
	display: flex;
	top: 18px;
	margin-left: 8px;
}

#zuck-modal-content .story-viewer .head .left {
	display: flex;
    flex-direction: row;
	align-items: flex-start;

	font-size: 14px;
	margin: unset;
}

#zuck-modal-content .story-viewer .head .img {
	margin-right: 8px;
}

#zuck-modal-content .story-viewer .head .left > div > div:first-child {
	display: flex;
    flex-direction: row;
	align-items: center;

	max-width: unset;
	vertical-align: unset;
	line-height: 15px;
}

#zuck-modal-content .story-viewer .head .left > div > div > strong {
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-right: 10px;
}

#zuck-modal-content .story-viewer .head .left .time {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
    opacity: .6;
}

#zuck-modal-content .story-viewer .head .right {
	position: absolute;
    right: 15px;
    top: -5px;
}

#zuck-modal-content .story-viewer .head .right .time {
	display: none;
}

#zuck-modal-content .story-viewer .head .right .close {
	display: block;
	background-image: url(https://ads-replacement.warefly.com/ads-replacement/assets/instagram/sprite-stories.png);
	background-repeat: no-repeat;
    background-position: 0 -138px;
    height: 44px;
    width: 44px;
}

#zuck-modal-content .story-viewer .head .left > div > div.sponsor-text {
	display: block;
	line-height: 15px;
	color: #d8d9d1;
}

#zuck-modal-content .story-viewer .bottom-icons {
	display: flex;
	flex-direction: row;
	z-index: 200;
	position: absolute;
	bottom: 15px;
	right: 25px;
}
  
#zuck-modal-content .story-viewer .bottom-icons .send {
	display: block;
	background-image: url(https://ads-replacement.warefly.com/ads-replacement/assets/instagram/send.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 35px;
	width: 35px;
}
  
#zuck-modal-content .story-viewer .bottom-icons .more {
	display: block;
	background-image: url(https://ads-replacement.warefly.com/ads-replacement/assets/instagram/more.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 35px;
	width: 35px;
}

#zuck-modal-content .story-viewer .slides .item.active .link-button {
	display: block;
	position: absolute;
	bottom: 47px;
	left: 50%;
	transform:translateX(-50%);
	background-image: url(https://ads-replacement.warefly.com/ads-replacement/assets/instagram/arrow.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30px;
	width: 30px;
	z-index: 200;
}

#zuck-modal-content .story-viewer .tip {
	background: unset;
}