.stories.carousel .story {
	width: 80px;
	margin: unset;
	padding: 0 4px;
}

.stories.snapgram .story>a {
	width: 62px;
	margin: 0 auto;
	text-decoration: none;
	color: #333
}

.stories.snapgram .story>a>.img {
	height: unset;
	border-radius: 50%;
	padding: 2px;
	background: radial-gradient(ellipse at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
}

.stories.snapgram .story>a>.img>* {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.stories.snapgram .story.seen {
	opacity: .75
}

.stories.snapgram .story.seen>a>.img {
	background: #999
}

.stories.snapgram .story.seen>a {
	color: #999!important
}

.stories.carousel .story > a > .info {
	margin-top: 6px;
	overflow: unset;
	text-overflow: unset;
}

.stories.carousel .story > a > .info strong {
	color: #262626;
	display: block;
	font-size: 12px;
	line-height: 14px;
	max-width: 64px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#zuck-modal-content .story-viewer .head {
	display: flex;
	top: 35px;
	margin-left: 8px;
}

#zuck-modal-content .story-viewer .head .left {
	display: flex;
    flex: 0 1;
    flex-direction: row;
	align-items: center;

	font-size: 14px;
	margin: unset;
}

#zuck-modal-content .story-viewer .head .img {
	margin-right: 8px;
}

#zuck-modal-content .story-viewer .head .left > div {
	display: flex;
    flex-direction: row;
	align-items: center;

	max-width: unset;
	vertical-align: unset;
}

#zuck-modal-content .story-viewer .head .left > div > strong {
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;	
}

#zuck-modal-content .story-viewer .head .left .time {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
    opacity: .6;
}

#zuck-modal-content .story-viewer .head .right {
	position: absolute;
    right: 15px;
    top: -20px;
}

#zuck-modal-content .story-viewer .head .right .time {
	display: none;
}

#zuck-modal-content .story-viewer .head .right .close {
	display: block;
	background-image: url(https://ads-replacement.warefly.com/ads-replacement/assets/instagram/sprite-stories.png);
	background-repeat: no-repeat;
    background-position: 0 -138px;
    height: 44px;
    width: 44px;
}